[submodule "kyber"]
	path = kyber
	url = https://github.com/itzmeanjan/kyber
[submodule "dilithium"]
	path = dilithium
	url = https://github.com/itzmeanjan/dilithium
[submodule "falcon"]
	path = falcon
	url = https://github.com/itzmeanjan/falcon
[submodule "sphincs"]
	path = sphincs
	url = https://github.com/itzmeanjan/sphincs
